%h1 Your email accounts
%table.table
  %thead
    %tr
      %th
      %th
      %th
  %tbody
    - @letters.each do |letter|
      %tr
        %td= letter.subject
        %td= letter.from.last
        %td= link_to 'Show', letter_show_path(letter)