.centered { text-align: center; }

.left { float: left; }

.right { float: right; }

.loginscreen.middle-box {
  margin-top: 10%;
  padding: 10px;
  border-radius: 10px;
  background-color: #2F4056;
}

.loginscreen input[type=password], .loginscreen input[type=email] { 
  border: none; 
  border-radius: 3px; 
  background-color: whitesmoke; 
  width: 80%;
  padding: 5px 10px;
}

span.main-logo {
  font-size: 45px;
  color: whitesmoke;
}

#side-menu .nav-header {
  padding: 50px 0;
  text-align: center;
}

.menu-active, .btn-middle { background-color: #1cc09f; }
.menu-active span, .menu-active i, .btn-middle span, .btn-middle i { color: white; }
.menu-active:hover, .btn-middle:hover { background-color: #17987e !important; }

.refresh-button { padding: 5px 10px !important;}
.btn-middle { margin: 10px; padding: 10px 10px !important; line-height: 28px; }

.wysihtml5-sandbox { width: 70% !important; height: 400px !important; }

.page-header { overflow: auto; border: none; }

.table { width: 100% !important; }

 .ajax-loader span { margin-left: 10px; font-size: 15px; font-weight: bold; }