.centered { text-align: center; }

.left { float: left;}

.loginscreen.middle-box {
  margin-top: 10%;
  padding: 10px;
  border-radius: 10px;
  background-color: #2F4056;
}

.loginscreen input[type=password], .loginscreen input[type=email] { 
  border: none; 
  border-radius: 3px; 
  background-color: whitesmoke; 
  width: 80%;
  padding: 5px 10px;
}

span.main-logo {
  font-size: 45px;
  color: whitesmoke;
}

#side-menu .nav-header {
  padding: 50px 0;
  text-align: center;
}

.menu-active { background-color: #1cc09f; }
.menu-active span, .menu-active i { color: white; }
.menu-active:hover { background-color: #17987e; }