<!DOCTYPE html>
<html>
<head>
  <title>SuperMailer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body class="devise">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="devise-container">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </body>
</html>
